.button{
  border: none;
  background: white;
  width: 30px;
  height: 30px;
  cursor:pointer;
  img{
    height: 20px;
    width: 20px;
  }
  .circleImg{
    position: relative;
    top: -25px;
    left: 15px;
  }
  .cartImg{
    position: relative;;
    top: 5px;
  }
  .cartImgNone{
    position: relative;
    top: 3px;
  }
  .numberCount{
    position: relative;
    font-weight: bold;
    top: -47px;
    left: 15px;
    color: white;
  }
}
.position{
  position: fixed;
  display: block;
  top: 121px;
  z-index: 999999;
  right: 100px;
  text-decoration: none;
  background: white;
  padding: 15px;

  .button {
    width: 140px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #5ECE7B;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor:pointer;
  }
  .bag{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-right: 12px;
    margin-left: 12px;
    cursor:pointer;
    text-decoration: none;

    span{
      text-decoration: none;
      text-transform: uppercase;
      color: black;

    }
  }
  .button:hover{
    border: 2px solid white;
  }
  .bag:hover{
    background-color: black;
    span{
      color: white;
      border-color: black;
    }
  }

}
.headerPosition{
  margin-bottom: 30px;
}
.attrHeader{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.spanHeader{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.cart_items{
  background: white;
  max-width: 325px;
  max-height: 560px;
  overflow: auto;
}


