.item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 110px;
}
.header{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 42px;
}

