.item {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 110px;
  max-height: 370px;
  position: relative;
}
.prodName{
  font-weight: 400;
  font-size: 18px;
  margin-left: 20px;
}
.price{
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
}

.border {
  display: inline-block;
  box-shadow: 1px 8px 15px rgba(0.2, 0.2, 0.2, 0.2);
}

.outOfOrder {
  filter: opacity(0.5);
  margin-bottom: 100px;
  max-height: 370px;
}

.outOfOrderSpan {
  position: relative;
  text-transform: uppercase;
  left: 120px;
  bottom: 150px;
  font-weight: 400;
  color: #8D8F9A;
}

.navLink {
  position: relative;
  top: 60px;
  text-decoration: none;
  border: none;
  color: black;
  img{
    padding-left: 16px;
    padding-right: 16px;
  }
}

.img {
  text-decoration: none;
  z-index: 555;
  border: none;
  background: none;
  position: relative;
  left: 295px;
  bottom: 20px;
}