.button{
    cursor:pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: inline-block;
    min-width: 40px;
    position: relative;
    top:2px;
    border: none;
    background: white;
    width: 30px;
    height: 30px;
    font-size: 16px;
    img{
        position: relative;
        top: -5px;
        left: 10px;
        width: 6px;
        height: 3px;
    }
}
.button:hover{
    top:3px;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}
.position{
    z-index: 888;
    position: absolute;
    top: 75px;
    button{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        border: none;
        background: white;
        width: 114px;
        height: 45px;
        box-shadow: 1px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);
    }
    button:hover{
        background: #EEEEEE;
    }
}