.App {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.AppDisable{
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  z-index: 19999;

  background-color: #39374838;
  img{
    opacity: 0.42;
  }

}





