.product {
  display: grid;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid #E5E5E5;
  border-top: 2px solid #E5E5E5;
  grid-template-areas:
          "brand counter img"
          "name counter img"
          "price counter img"
          "attributes counter img";
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 500px;
  padding-top: 20px;

  .img {
    position: relative;
    margin: auto;
    width: 200px;
    height: 288px;
    object-fit: cover;
    grid-area: img;
  }

  .attrHeader {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .buttonImg1 {
    position: relative;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.73);
    border: none;
    left: 260px;
    bottom: 85px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 5px;
      height: 11px;
    }
  }

  .buttonImg1:hover {
    background: black;
  }

  .buttonImg2 {
    position: relative;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.73);
    border: none;
    left: 1165px;
    bottom: 85px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 5px;
      height: 11px;
    }
  }

  .buttonImg2:hover {
    background: black;
  }

  .counter {
    grid-area: counter;

    .buttonCount {
      border: 1px solid black;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 45px;
      height: 45px;
      background: none;

    }
    .buttonCountMinus {
      border: 1px solid black;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 45px;
      height: 45px;
      background: none;
    }

    .buttonCount:hover {
      background-color: #8D8F9A;
    }

    .countText {
      display: block;
      font-size: 24px;
      margin-bottom: 75px;
      margin-top: 75px;
      position: relative;
      left: 15px;
    }
  }

  .brand {
    grid-area: brand;
    color: #1D1F22;
    font-size: 30px;
    font-weight: 600;
    align-content: start;
  }

  .name {
    grid-area: name;
    font-size: 30px;
    font-weight: 400;
  }

  .price {
    grid-area: price;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: oblique;
  }

  .attributes {
    grid-area: attributes;
    font-size: 24px;

    button {
      min-height: 32px;
      min-width: 32px;
      border: none;
      margin-right: 10px;
      margin-bottom: 10px;
      box-shadow: 1px 8px 15px rgba(0.2, 0.2, 0.2, 0.2);
    }

    .active {
      width: 63px;
      height: 45px;
      font-weight: 400;
      font-size: 16px;
      background-color: black;
      color: white;
    }

    .activeColor {
      margin-right: 8px;
      border: 2px solid #5ECE7B;
    }

    .passiveColor {
      margin-right: 8px;
    }

    .passive {
      width: 63px;
      height: 45px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 16px;
      box-shadow: none;
      border: 1px solid black;
      background-color: white;
    }

  }
}

.cartCounts {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;

  span {
    font-weight: 700;
  }

  .total {
    font-weight: 500;
  }

  div {
    padding-bottom: 10px;
  }
}

.cartCountsOverlay {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;

  span {
    padding-left: 150px;
    font-weight: 700;

  }

  .total {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  div {
    padding-bottom: 30px;
  }
}

.button {
  grid-area: button;
  text-transform: uppercase;
  width: 280px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #5ECE7B;
  border: none;
}

.button:hover {
  border: 2px solid white;
}

.productOverlay {
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-areas:
          "brand counter img"
          "name counter img"
          "price counter img"
          "attributes counter img";
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  max-height: 280px;
  max-width: 325px;
  padding-bottom: 30px;

  .img {
    position: relative;
    margin: auto;
    width: 120px;
    height: 190px;
    object-fit: cover;
    grid-area: img;
  }

  .attrHeader {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .buttonImg1 {
    position: relative;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.73);
    border: none;
    left: 260px;
    bottom: 85px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 5px;
      height: 11px;
    }
  }

  .buttonImg1:hover {
    background: black;
  }

  .buttonImg2 {
    position: relative;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.73);
    border: none;
    left: 1180px;
    bottom: 85px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 5px;
      height: 11px;
    }
  }

  .buttonImg2:hover {
    background: black;
  }

  .counter {
    grid-area: counter;

    .buttonCount {
      border: 1px solid black;
      margin-right: 8px;
      position: relative;
      top: 13px;
      width: 24px;
      height: 24px;
      background: none;
    }

    .buttonCountMinus {
      border: 1px solid black;
      margin-right: 8px;
      position: relative;
      bottom: 13px;
      width: 24px;
      height: 24px;
      background: none;
    }

    .buttonCount:hover {
      background-color: #8D8F9A;
    }

    .countText {
      display: block;
      position: relative;
      left: 7px;
      font-size: 16px;
      margin-bottom: 75px;
      margin-top: 75px;
    }
  }

  .brand {
    position: relative;
    top:10px;
    grid-area: brand;
    font-size: 16px;
    font-weight: 300;
    align-content: start;
  }

  .name {
    grid-area: name;
    font-size: 16px;
    font-weight: 300;
  }

  .price {
    grid-area: price;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: oblique;
  }

  .attributes {
    grid-area: attributes;
    font-size: 24px;

    button {
      min-height: 16px;
      min-width: 16px;
      border: none;
      margin-right: 10px;
      margin-bottom: 10px;
      box-shadow: 1px 8px 15px rgba(0.2, 0.2, 0.2, 0.2);
    }

    .active {
      display: inline-block;
      min-width: 24px;
      height: 24px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 14px;
      background-color: black;
      color: white;
    }

    .activeColor {
      margin-right: 8px;
      border: 2px solid #5ECE7B;
    }

    .passiveColor {
      margin-right: 8px;
    }

    .passive {
      display: inline-block;
      min-width: 24px;
      height: 24px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 14px;
      box-shadow: none;
      border: 1px solid black;
      background-color: white;
    }

  }

}